@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  color:#333;
  font-family: Quicksand;
}

.navbar {
  display:flex;
  max-width:900px;
  margin:0 auto;
  border-bottom:1px solid #f2f2f2;
  padding:20px;
  align-items:center;
}

.navbar .links {
  margin-left:auto;
}

.navbar h1 {
  color:rgb(45, 168, 168);
}

.navbar a {
  margin-left:16px;
  text-decoration:none;
  padding:6px;
}

.navbar a:hover {
  color:rgb(45, 168, 168);
}

.navbar .button {
  background-color:rgb(45, 168, 168);
  border-radius:8px;
  color:white;
}

.navbar .button:hover, .create button:hover, .blog-details button:hover {
  background-color:rgb(23, 121, 121);
  color:white;
}

.content {
  width:80%;
  max-width:900px;
  margin:40px auto;
  padding:20px;
}

.blog-preview a {
  text-decoration:none;
}

.blog-preview h2 {
  font-size:20px;
  color:rgb(45, 168, 168);
  margin-bottom:8px;
}

.blog-preview {
  padding:10px 16px;
  margin:20px 0;
  border-bottom:1px solid #fafafa;
  display:flex;
  flex-direction: row;
}

.blog-preview {
  flex-direction:row;
  justify-content: center;
  margin-bottom:30px;
}

.blog-preview:hover {
  box-shadow:1px 3px 5px rgba(0,0,0,0.1);
}

.blog-preview .article {
  height:200px;
  margin-left:10px;
  width:60%;
}


a {
  text-decoration: none;
}

.blog-preview h2,.blog-preview p {
  text-align:left;
}
.blog-preview img{
  height:200px;
  object-fit:cover;
  border-radius:5px;
  width:40%;
}


.blog-preview .text {
  height:120px;
  overflow:hidden;
  margin-top:18px;
}

.blog-details h2, .create h2 {
  font-size:20px;
  color:rgb(45, 168, 168);
  margin-bottom:10px;
}


.blog-details div {
  margin:20px 0;
}

.blog-details img, .create img {
  display:block;
  max-width:900px;
  max-height:500px;
  object-fit: cover;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
}


.blog-details button, .create button {
  background:rgb(45, 168, 168);
  color:#fff;
  border:0;
  padding:8px;
  border-radius:8px;
  cursor:pointer;
}

.create label {
  text-align:left;
  display:block;
}

.create input, .create textarea, .create select {
  width:100%;
  padding:6px 10px;
  margin:10px 0;
  border:1px solid #ddd;
  box-sizing:border-box;
  display:block;
}

.create {
  max-width:850px;
  margin:0 auto;
  text-align:center;
  overflow:hidden;
}

.create img{
  max-width:100%;
}

.create span {
  font-size: small;
}

@media (max-width:650px){
  .blog-preview {
    flex-direction: column;
  }
  .blog-preview .article {
    width:100%;
  }
  .blog-preview img{
    width:100%;
  }
}

